<footer>
<hr/>
  <div class="left">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> {{ site.time | date:"%Y" }} Alex Elman and
    artisanally handcrafted with <a href="https://github.com/railsr/autm-rb">Autm-rb</a>.
  </div>
  <div class="right">
    {% unless site.twitter == "" %}
      <a href="{{site.twitter}}"><i class="fa fa-twitter fa-lg" style="color:#49B1F7;"></i></a>
    </a>
    {% endunless %}
  </div>
</footer>
